
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        
        * {
            font-family: 'Poppins', sans-serif;
        }

        i {
            font-size: 25px;
            color: black;
            padding: 5px;
            border-radius: 100px;
            transition: all .3s;
        }

        i:hover {
            background-color: rgb(248, 248, 248);
            cursor: pointer;
        }

        a {
            color: white;
            cursor: auto;
        }

        canvas {
            width: 100px;
            border: solid 1px;
            border-radius: 10px;
            padding: 5px;
        }

        .details {
            margin-top: 50px;
            display: none;
            flex-direction: column;
            border: solid 1px black;
            padding: 10px;
            border-radius: 10px;
            gap: 4px;
        }

        .head {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button-div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            transition: all .3s;
            cursor: pointer;
        }

        p:hover {
            padding: 5px;
            border: solid 1px black;
            border-radius: 10px;
            transition: all .3s;
        }

        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 10px;
            background: #000;
            text-decoration: none;
            color: white;
            border: solid 1px black;
            padding: 10px;
            margin: 5px;
            width: fit-content;
            text-align: center;
            border-radius: 20px;
            transition: all .3s;
            font-weight: 600;
            font-size: 15px;
        }

        button:hover {
            background-color: white;
            color: red;
            border: solid 1px red;
        }

        .pdf-header, .pdf-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            font-size: 12px;
            color: gray;
        }

        .pdf-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
  